<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dyndns.warenix.tedalarm"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        n=""
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name=".app.TedAlarmActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".app.TedAlarmService" />

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmRingReceiver" />

        <provider
            android:name="org.dyndns.warenix.tedalarm.provider.TedAlarmProvider"
            android:authorities="tedalarm" />
        <provider
            android:name="org.dyndns.warenix.google.calendar.provider.GoogleCalendarProvider"
            android:authorities="googlecalendar" />

        <!-- use google oauth 2.0 library -->
        <activity
            android:name="com.google.api.ui.GoogleOAuthActivity"
            android:theme="@style/Theme.Sherlock" >
        </activity>

        <service android:name="com.google.api.ui.GoogleOAuthIntentService" >
            <intent-filter>
                <action android:name="action_oauth" />
                <action android:name="exchange_token" />
                <action android:name="action_refresh_token" />
                <action android:name="oauth_fail" />
            </intent-filter>
        </service>
    </application>

</manifest>